
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Naglowki{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-item {
    width: 30vh;
    margin: 4vh;
    padding: 4vh;
    border: 1px solid #ddd;
    border-radius: 3vh;
}
